<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" type="image" href="favicon.ico" />
    <title>404</title>
  </head>
  <body>
    <div class="header">
      <img
        src="/images/youfast-high-resolution-logo.png"
        width="300"
        height="200"
      />
    </div>
    <h1 class="heading"><%=message%></h1>
  </body>
</html>
