<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" type="image" href="favicon.ico" />

    <title>Download</title>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <a href="/">
          <img
            src="/images/youfast-high-resolution-logo.png"
            width="300"
            height="200"
            alt="header"
          />
        </a>
      </div>
      <div class="video">
        <iframe
        
          id="ytplayer"
          type="text/html"
     
          src="<%= url %>"
          frameborder="0"
        ></iframe>
      </div>

      <table>

          <th>Quality</th>
          <th>File Type</th>
          <th>Click to download!</th>
        </tr>
        <% info.forEach((format) => { %>
        <% if (!format.hasAudio ) return%>
          <tr>
          <th>
          <%= format.hasVideo ?
            `${format.qualityLabel}` : `${format.audioBitrate} kbps (audio only) `%>
          </th>
          <th><%=format.container%></th>
          <th>
            <a href="/downloadFile?itag=<%-format.itag%>" class="download-button">Download</a>
          </th>

        </tr>
        <% }) %>
      </table>
    </div>
  </body>
  <footer>
    <div>
      <p>Powered by</p>
     
      <img src="/images/nodejs.png" alt="noejs" />
      <img src="/images/ejslogo.png" alt="ejs" />
    </div>
    <a href="https://www.npmjs.com/package/ytdl-core">ytdl-core</a>
    <p>Designed by Matthew Miyata</p>
    <p>
      <a href="https://mattmiyatadev.netlify.app/">
        Check out my other work!
      </a>
    </p>
  </footer>
</html>
